{% extends "layout.html" %}
{% block body %}

<br><br>
<br>
<br>
<br>
<br>
<h1>Thank you for Shopping with us...</h1>
<h3>Your order is on the way</h3>
<h3>We'll notify you once it is on your door</h3>
<h3>happy Shopping...</h3>
<style>
    .container {
        padding: 16px;
        margin-right: auto;
        margin-left: auto;
        width: 98%;
      }
      .conty {
        width: 98%;
        padding: 16px;                       
        margin-right: auto;
        margin-left: auto;
        background-color: #f5f5f5;
      }
      .cancelbtn {
        width: auto;
        padding: 10px 18px;
        width: auto;
        background-color: #04aa6d;
        border-color: white;
      }
</style>
<div class="container"><a href="/">
<button type="button" class="cancelbtn" style="color: white;">  Continue Shopping...  </button></a></div>
{% endblock %}