<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Uppad Strores</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-sixteen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <!-- <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>   -->
    <!-- ***** Preloader End ***** -->
<style>
  .conty {
    width: 98%;
    padding: 16px;                       
    margin-right: auto;
    margin-left: auto;
    background-color: #f5f5f5;
  }
  footer {
    position :fixed;
    width: 98%;
    bottom : 0;
    height : 10px;
    margin-top : 10px;
    width: 100%;
    padding: 25px;                       
    margin-right: auto;
    margin-left: auto;
    background-color: #f5f5f5;
  }
</style>
    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg" style="background-color: white;">
        <div class="conty"  >                   
        <!-- <div class="container"> -->
          <a class="navbar-brand" href="/"><h2 style="color: black;"> <br> Uppad <em>Stores <br> </em></h2></a>
          <i class="bi bi-search"></i>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         
            <!-- <button><i class="fa" style="font-size:24px">&#xf07a;</i></i></button>  -->
            
          <!-- </nav> -->
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/seller_index" style="color: black;" style="background-color: #bbb;"><b>Home</b>
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
             
              <a class="nav-link" href="/hc" style="color: black;">
              <li class="nav-item"><b>
               Help & Support</b>
               {% if not session['sell_login'] %}
              </li></a>
              <a class="nav-link" href="/s_login" style="color: black;">
             <li class="nav-item" style="color: black;"><b>
               Login/signup</b>
             </li></a>
               {% else %}
               <a class="nav-link" href="{{ url_for('s_logout') }}" style="color: black;">
               <li class="nav-item" style="color: black;"><b>Logout</b>
              </li></a>
               {% endif %}
             </li></a>
            </ul>
          </div>
        </div>
      </nav>
    </header>

   

    
    

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


    <!-- Additional Scripts -->
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/owl.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/slick.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/isotope.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/accordions.js') }}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>
  {% block body %} {% endblock %}
   <!-- footer   -->
   <footer>
    <div class="footer"  >
           <h6 style="text-align:left;"> Copyright &copy; Dhyan & Jeevan</h6>
           <br>     
    </div>
  </footer>
</html>